
<form role='form' action="/patients/add" method="POST" id="add_patients_form">  
<input type="hidden" value={{user._id}} id='nurse'>

<table class="table padding-top table-striped table-bordered" id="table">
  <tr class="row">
    <th class="col-md-2"> Phone Number </th>
    <th class="col-md-2"> Date </th>
    <th class="col-md-6"> Conditions </th>
  </tr>
</table>
</form>

<div class="row" style="padding:5px">
  <button id="submit_patients" class="btn btn-success pull-right margin "><i class="fa fa-lg fa-check" aria-hidden="true"></i> Submit</button>
  <button class="btn btn-primary pull-right margin" id="addPatient"><i class="fa fa-lg fa-plus" aria-hidden="true"></i> Add Patient</button>
</div>
