
{{#if error}}
    <div class="alert alert-danger" name="alert">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {{error}}
    </div>
{{/if}}
{{#if message}}
    <div class="alert alert-info" name="alert">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {{message}}
    </div>
{{/if}}
{{#if success}}
    <div class="alert alert-success" name="alert">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {{success}}
    </div>
{{/if}}
{{#if warning}}
    <div class="alert alert-warning" name="alert">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {{warning}}
    </div>
{{/if}}


