<script>
  $().ready(function() {
    Patients = window.Patients;
    console.log("in the script");
  });
</script>
<div class="row">
  <div class="row">
    <div class="col-lg-4">
      <label> Condition 1 </label>
      <input type="checkbox" id="condition1"/>
    </div>
    <div class="col-lg-4">
      <label> Condition 2 </label>
      <input type="checkbox" id="condition2"/>
    </div>
  </div>
  <table id="active-patients-list" class="table borderless">
    
  </table>
</div>
