<form role='form' method='POST' action="/register" enctype="multipart/form-data" id="register-form">  
  <div class="form-group has-error">
    <label for="name">Name</label>
    <input type="text" class="form-control" name='name' placeholder="Full name">
  </div>
  <div class="form-group">
    <label for="photo">Profile photo (optional)</label>
    <input type="file" class="form-control" name='photo'>
  </div>
  <div class="form-group has-error">
    <label for="indianState">Indian state</label>
    <select name="indianState" multiple class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group has-error">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name='email' placeholder="Enter email">
  </div>
  <div class="form-group has-error">
    <label for="password">Password</label>
    <input type="password" class="form-control" name='password' placeholder="Password">
  </div>
  <div class="form-group has-error">
    <label for="confirm">Confirm Password</label>
    <input type="password" class="form-control" name="confirm" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default" id="registerbtn">Register</button>

</form>
