
<form role="form" class="form-inline" action="/patients/uploadCSV" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <input type="file" name='csv' style="width:200px">
  </div>
  <button type="submit" class="btn btn-md btn-success" ><i class="fa fa-lg fa-upload" aria-hidden="true"></i> Upload</button>
</form>
