<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/mocha.css' />
    <link rel='stylesheet' href='/stylesheets/lavish-bootstrap.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    
  </head>
  <body>
     
    <!-- bower:js -->
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/jqueryui/jquery-ui.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->

    <script src="./socket.io/socket.io.js"></script>
    <!--<script src="../../bower_components/jqueryui/ui/datepicker.js"></script>-->
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="./javascript/registerForm.js"></script>
    <script src="./javascript/Patients.js"></script>
    <script src="./javascript/socket.js"></script>


    <!--<script src="./javascript/test/chai.js"></script>-->
    <!--<script src="./javascript/test/mocha.js"></script>-->
    <!--<script> mocha.setup('bdd') </script>-->
    <!--<script src="./javascript/test/testPatients.js"></script>-->
    <!--<script>-->
      <!--mocha.checkLeaks();-->
      <!--mocha.globals(['jQuery']);-->
      <!--var runner = mocha.run();-->
      <!--runner.on('test end', function(test){-->
        <!--console.log("Ended the test: ", test);-->
      <!--});-->
    <!--</script>-->
    <div id="mocha"></div>
  
  {{>navbar}}

  <div class="container" >

    {{> alerts}}
  
    {{{body}}}
  </div>

  </body>
</html>
