
<script src="./javascript/addPatientsForm.js"></script>


<div class="panel col-lg-10 col-lg-offset-1 main-panel">
  <div class="padding-bottom padding-top padding-left padding-right">
    <div class="tabbable">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#addPatientDiv" data-toggle="tab" role="tab" ><i class="fa fa-lg fa-plus-circle" aria-hidden="true"></i> Add Patients Manually</a></li>
        <li role="presentation" id="uploadCSV"><a href="#uploadCSVdiv" data-toggle="tab" role="tab"><i class="fa fa-lg fa-cloud-upload" aria-hidden="true"></i> Upload a CSV</a></li>
        <li role="presentation" id="uploadCSV"><a href="#activePatients" data-toggle="tab" role="tab"><i class="fa fa-lg fa-male" aria-hidden="true"></i> Active Patients</a></li>
      </ul>
      
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane padding-top" id="activePatients">
          {{>listActivePatients}}
        </div>
        
        <div role="tabpanel" class="tab-pane active padding-top" id="addPatientDiv">
          {{>addPatientForm}}
        </div>

        <div role="tabpanel" class="tab-pane padding-top" id="uploadCSVdiv">
          <div class="col-lg-6 col-lg-offset-3">
            <div class="panel-heading">
              <div class="panel-title">Upload Patient Data</div>
            </div>
            
            <div class="panel-body">
              {{>uploadCSVForm}}      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
