<script> 
  $("#login-form").trigger("reset");
</script>

<div class="col-lg-4 col-lg-offset-4 padding-top main-panel">
    
  <ul class="nav nav-pills nav-justified">
    <li role="presentation" {{#unless register}} class="active" {{/unless}}><a href="#login" data-toggle="tab" role="tab" id="login-tab" >Login</a></li>
    <li role="presentation" {{#if register}} class="active" {{/if}}><a href="#register" data-toggle="tab" role="tab" id="register-tab">Register</a></li>
  </ul>

  <br/>
  
  <div class="tab-content">
    {{#if register}}
      <div role="tabpanel" class="tab-pane" id="login">
        {{>loginForm}}
      </div>

      <div role="tabpanel" class="tab-pane active" id="register">
        {{>registerForm}}      
      </div>
    {{else}}
      <div role="tabpanel" class="tab-pane active" id="login">
        {{>loginForm}}
      </div>

      <div role="tabpanel" class="tab-pane" id="register">
        {{>registerForm}}      
      </div>
    {{/if}}
  </div>
</div>

