.bg-primary {
 color: #fff;
  background-color: #7bd0ca !important;
}
a.bg-primary:hover {
  background-color: #5dc5be !important;
}
.bg-success {
 color: #fff;
  background-color: #468847 !important;
}
a.bg-success:hover {
  background-color: #d0e9c6 !important;
}
.bg-info {
 color: #fff;
  background-color: #5bc0de !important;
}
a.bg-info:hover {
  background-color: #39b3d7 !important;
}
.bg-warning {
 color: #fff;
  background-color: #f0ad4e !important;
}
a.bg-warning:hover {
  background-color: #ec971f !important;
}
.bg-danger {
 color: #fff;
  background-color: #d9534f !important;
}
a.bg-danger:hover {
  background-color: #c9302c !important;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  /*background-color: #d2edf3 !important;*/
}

.alert-panel-padding {
  padding: 8px 50px 0px 50px;
}

.panel {
  /*background-color: #d2edf3 !important;*/
}

.main-panel{
  margin-top:50px
}

.navbar {
/*  background-image: url(http://grass-roots-science.info/VascularContent/Images/NooraLogo.png);*/
}

.container {
  padding-top: 80px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.padding-top {
  padding-top: 20px;
}

.padding-left {
  padding-left: 20px;
}

.padding-right {
  padding-right: 20px;
}

.margin {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px
}

.add-padding{
  padding: 0px 20px 0px 20px;
}

a {
  color: #00B7FF;
}

.navthumbnail {
  width: 70px;
  height: 70px;
  margin: 7px;
}

.nav-elements {
  padding-top: 25px;
  margin-top: 20px;
}

